<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Bennett Lee</string>
	<key>Builder Version</key>
	<string>9537.77.4</string>
	<key>CFBundleDisplayName</key>
	<string>tapiture-safari</string>
	<key>CFBundleIdentifier</key>
	<string>com.tapiture-safari</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.4</string>
	<key>CFBundleVersion</key>
	<string>2.0.4</string>
	<key>Chrome</key>
	<dict>
		<key>Context Menu Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>userClickTapThis</string>
				<key>Identifier</key>
				<string>userClickTapThis</string>
				<key>Title</key>
				<string>Tap To Tapiture</string>
			</dict>
		</array>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>userClickTapThis</string>
				<key>Identifier</key>
				<string>tapIcon</string>
				<key>Image</key>
				<string>favicon.png</string>
				<key>Label</key>
				<string>Tapiture</string>
				<key>Palette Label</key>
				<string>Tapiture</string>
				<key>Tool Tip</key>
				<string>Tap To Tapiture</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>tap_browser.js</string>
				<string>tapiture_injected.js</string>
			</array>
			<key>Start</key>
			<array>
				<string>jquery-1.10.2.min.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Tapiture's Safari Extension allow users to easily "Tap" content anywhere on the Internet.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://s3-us-west-2.amazonaws.com/s3-assets.tapiture.com/TapitureWidgets/Safari/tapiture-safari-manifest.plist</string>
	<key>Website</key>
	<string>http://tapiture.com</string>
</dict>
</plist>
